.wolf-houses-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100vh;
    margin: 0;
    width: 100%;
    overflow:visible;
}

.wolf-house-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    transition: .3s;
    box-shadow: inset 1rem 1rem 20rem 20rem rgba(50, 45, 41, 0.3);
}

.arctic {
    background: url('../../assets/images/arctic-wolf.jpg');
    background-position: -170px;
    background-size: cover, contain;
    background-repeat: no-repeat;
}

.grey {
    background: url('../../assets/images/grey-wolf.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.timber {
    background: url('../../assets/images/timber-wolf.jpg');
    background-position: -250px;
    background-size: cover;
    background-repeat: no-repeat;
}

.arctic:hover,
.grey:hover,
.timber:hover {
    box-shadow: inset 1rem 1rem 20rem 20rem rgba(50, 45, 41, 0.6);
}


.wolf-house-name,
.wolf-house-points {
    display: block;
    text-align: center;
    margin: 0.25rem;
    width: 100%;
    color: #FFF;
    text-shadow: 0 0 10px rgb(50 45 41)
}

.wolf-house-name {
    font-size: 2.2vw; 
}

.wolf-house-points {
    font-size: 4vw;
}

/* styles for tiny leaderboard */

.wolf-houses-flex-tiny {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.5rem;
}
    
.wolf-house-flex-tiny {
    display: grid;
    grid-template-columns: 65px 120px 1fr;
    grid-template-rows: auto auto auto;
    margin: 0.25rem 0;
    width: 100%;
    padding-right: 1rem;
}

.wolf-house-name-tiny,
.wolf-house-symbol-tiny,
.wolf-house-points-tiny {
    margin: auto 0.25rem;
}
    
.wolf-house-name-tiny {
    font-size: 1.2rem;
    text-align: left;
}

.wolf-house-symbol-tiny {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.wolf-house-points-tiny {
    font-size: 1.2rem;
    font-weight: bolder;
    text-align: right;
}
