<ng-container *ngIf="(houses$ | async) as houses">
    <div ngClass="{{ tiny ? 'wolf-houses-flex-tiny' : 'wolf-houses-grid'}}">
        <ng-container *ngFor="let house of houses">
            <div ngClass="{{ tiny ? 'wolf-house-flex-tiny' : 'wolf-house-flex ' + house.houseName | lowercase }}">
                <img *ngIf="tiny" src="../../assets/images/{{house.houseName | lowercase}}-wolf.jpg" class="wolf-house-symbol-tiny">
                <span ngClass="{{ tiny ? 'wolf-house-name-tiny' : 'wolf-house-name'}}">{{ house.houseName }}</span>
                <span ngClass="{{ tiny ? 'wolf-house-points-tiny' : 'wolf-house-points'}}">{{ house.totalPoints }}</span>
            </div>
        </ng-container>
    </div>
</ng-container>
