<div class="card">
    <div class="card-body">
        <div class="student-info-header">
            <img class="wolf-house-symbol" src="../../assets/images/arctic-wolf.jpg">
            <div>
                <span class="student-info-header-name">{{ student.name }}</span>
                <div class="student-info-header-points">
                    <span>{{ totalPoints }}</span><span>points</span>
                </div>
            </div>
        </div>

        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Points</th>
                        <th>Paw</th>
                        <th>Comments</th>
                        <th>Staff</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let submission of pointsSubmissions">
                        <td>{{ submission.date }} </td>
                        <td>{{ submission.points }} </td>
                        <td>{{ submission.paw }}</td>
                        <td>{{ submission.comments }}</td>
                        <td>{{ submission.staff }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>