.student-info-header {
    display: flex;
    justify-content: start;
    align-items: center;
}

.wolf-house-symbol {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
    margin: 1em;
}

.student-info-header+div {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.student-info-header-name,
.student-info-header-points span:first-child {
   font-weight: bolder;
   margin-right: 0.25rem;
}

.student-info-header-name {
    font-size: 2rem;
}

.student-info-header-points span:first-child  {
    font-size: 1.4rem;
}

.student-info-header-points span:last-child {
    font-size: 0.9rem;
}


