.student-info-header {
    display: flex;
    justify-content: start;
    align-items: center;
}
.student-info-header div {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.student-info-header div span:first-child {
   font-weight: bolder;
}

.student-info-header div span:last-child {
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
}
