<h2>Select a student to view their history</h2>
<form [formGroup]="filtersForm" class="filter-form">
  <!-- Wolfhouse Dropdown -->
  <label for="wolfhouseDropdown">Wolfhouse</label>
  <ng-select 
    [items]="houses$ | async" 
    placeholder="Select house"
    labelForId="wolfhouseDropdown"
    formControlName="house">
  </ng-select>
  <!-- Grade Dropdown -->
  <label for="gradeDropdown">Grade</label>
  <ng-select 
    [items]="grades$ | async" 
    placeholder="Select grade" 
    labelForId="gradeDropdown" 
    formControlName="grade">
  </ng-select>
  <!-- Teacher Dropdown -->
  <label for="teacherDropdown">Teacher</label>
  <ng-select 
    [items]="teachers$ | async" 
    placeholder="Select teacher" 
    labelForId="teacherDropdown"
    formControlName="teacher">
  </ng-select>
</form>

<table class="table student-list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Points</th>
            <th>Wolfhouse</th>
            <th>Grade</th>
            <th>Teacher</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngIf="(students$ | async) as students">
            <tr *ngFor="let student of students" (click)="selectedStudentId = student.studentId">
                <td>{{ student.name }}</td>
                <td>{{ (student.totalPoints$ | async) }}</td>
                <td>{{ student.house | uppercase }}</td>
                <td>{{ student.grade }}</td>
                <td>{{ student.teacher }}</td>
            </tr>
        </ng-container>
    </tbody>
</table>
<app-student-points-details *ngIf="selectedStudentId" [studentId]="selectedStudentId"></app-student-points-details>
