<h2>Select a student to view their history</h2>
<table class="table student-list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Points</th>
            <th>Wolfhouse</th>
            <th>Grade</th>
            <th>Teacher</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students">
            <td>{{ student.name }}</td>
            <td>{{ student.totalPoints }}</td>
            <td>{{ student.house }}</td>
            <td>{{ student.grade }}</td>
            <td>{{ student.teacher }}</td>
        </tr>
    </tbody>
</table>
<app-student-points-details></app-student-points-details>
