:host {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0.25rem;
}

.house-member-count-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.house-member-count-flex div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 3rem;
}

.house-member-count-flex div span:first-child {
    font-size: 1.2rem;
}

.info-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0.5rem;
}

.info-row-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0.25rem;
}

.info-input-flex {
    display: grid;
    grid-template-columns: 100px 200px 1fr;
    grid-template-rows: auto;
    margin: auto 0.25rem;
}

.info-form-label {
    font-weight: bolder;
    margin: auto 0.25rem;
    margin-right: 1rem;
    min-width: max-content;
}

.info-form-input {
    margin: 0.25rem 0;
}

.member-radio-row-grid {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: auto;
    padding: 0.25rem;
}

.member-radio-row-grid div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.button-row-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remove-button {
    background-color: #7a140e !important;
}

.add-button,
.edit-button,
.remove-button {
    margin: 0.5rem;
}

.dropdown {
    min-width: 200px;
    margin: auto 0;
}
