<h2>Select a staff member to view their history</h2>
<table class="table staff-list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Points</th>
            <th>Submissions</th>
            <th>Wolfhouse</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let staffMember of staffMembers">
            <td>{{ staffMember.name }}</td>
            <td>{{ staffMember.totalPoints }}</td>
            <td>{{ staffMember.totalSubmissions }}</td>
            <td>{{ staffMember.house }}</td>
        </tr>
    </tbody>
</table>
<app-staff-points-details></app-staff-points-details>
