<div class="teacher-menu-grid">
    <div class="teacher-menu-grid-section leaderboard">
        <span class="teacher-menu-grid-section-title">Leaderboard</span>
        <app-leaderboard [tiny]="true" class="teacher-menu-grid-section-content"></app-leaderboard>
    </div>
    <div class="teacher-menu-grid-section teacher-menu-nav">
        <span class="teacher-menu-grid-section-title">Menu</span>
        <ul class="teacher-menu-grid-section-content">
            <li>
                <a routerLink="./add-points" 
                [state]="{ actionAreaTitle: 'Add Points'}">Add Points</a>
            </li>
            <li>
                <a routerLink="./student-points-list" 
                [state]="{ actionAreaTitle: 'Student Point History'}">Student Point History</a>
            </li>
            <li>
                <a routerLink="./staff-points-list" 
                [state]="{ actionAreaTitle: 'Staff Point History'}">Staff Point History</a>
            </li>
            <li>
                <a routerLink="./member-management" 
                [state]="{ actionAreaTitle: 'Manage Members'}">Manage Members</a>
            </li>
            <!-- <li>
                <a routerLink="./">Set Teacher Login</a>
            </li> -->
        </ul>
    </div>
    <div class="teacher-menu-grid-section action-area">
        <span class="teacher-menu-grid-section-title">{{ actionAreaTitle }}</span>
        <div class="teacher-menu-grid-section-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
