<div class="teacher-menu-grid">
    <div class="leaderboard">
        <span class="menu-title">Leaderboard</span>
        <app-leaderboard></app-leaderboard>
    </div>
    <div class="teacher-menu-nav">
        <span class="menu-title">Menu</span>
        <ul>
            <li>
                <a routerLink="/add-points">Add Points</a>
            </li>
            <li>
                <a routerLink="/student-contributions">Contribution History</a>
            </li>
            <li>
                <a routerLink="/member-management">Manage Members</a>
            </li>
            <li>
                <a routerLink="/#">Set Teacher Login</a>
            </li>
        </ul>
    </div>
    <div class="action-area">
        <span class="menu-title">Add Points</span>
        <app-points></app-points>
    </div>
</div>
