.teacher-menu-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    margin: 0 auto;
}

.teacher-menu-grid .leaderbaord {
    grid-column-start: 1;
    grid-column-end: 2;
}

.teacher-menu-nav {
    grid-column-start: 1;
    grid-column-end: 2;
}

.teacher-menu-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.teacher-menu-nav li {
    margin: 0.5rem;
    padding: 0;
}

.teacher-menu-nav li a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: black;
}

.action-area {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
}

.menu-title {
    font-size: 1.4rem;
    font-weight: bolder;
}
