.teacher-menu-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
}

.teacher-menu-grid .leaderbaord {
    grid-column-start: 1;
    grid-column-end: 2;
}

.teacher-menu-nav {
    grid-column-start: 1;
    grid-column-end: 2;
}

.teacher-menu-nav ul {
    list-style: none;
}

.action-area {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
}

.menu-title {
    font-size: 1.4rem;
    font-weight: bolder;
}
