:host {
    margin: 0 auto;  
    padding-top: 3rem;  
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2rem;
    font-weight: lighter;
    margin: 1.5rem 1rem 1rem;
}

form {
    display: grid;
    grid-template-columns: auto 260px;
    grid-template-rows: auto;
    grid-gap: 1.3rem;
    padding: 0;
    margin: 1.5rem;
}

form label {
    margin: auto 0;
    text-align: right;
}

.login-button {
    min-width: max-content;
    padding: 0.4rem 1.2rem;
    text-align: center;
    grid-column-end: -1;
    justify-self: end;
    background-color: rgb(249 128 47);
    border-style: none;
}

#notes {
    margin: 0;
}