form {
    display: grid;
    grid-template-columns: 100px 400px;
    grid-gap: 1em;
    border: 1px dashed red;
    padding: 2em;
    margin: 1em;
}

form label,
form span,
form textarea,
form button,
form select {
   
    font-size: 1.2rem;
    margin: 0.5em 0;
    padding: 0.25em;
}

form button {
    min-width: max-content;
    padding: 0.4em 1em;
    min-width: 160px;
    text-align: center;
    grid-column-end: -1;
    justify-self: end;
}

#notes {
    margin: 0;
}

/* override angular material mat-form-field */
/deep/ .mat-form-field-wrapper{ padding-bottom: 0;}
/deep/ .mat-form-field-infix{border: none;}
/deep/ .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline { color: rgba(0, 0, 0, 0);}