.points-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: max-content;
}

.points-row-flex {
    display: grid;
    grid-template-columns: 100px 400px;
    grid-template-rows: auto;
    margin: 0.75rem 0;
}

.points-form-label {
    font-weight: bolder;
    margin: 0.25rem;
}

.house-input {
    text-transform: capitalize;
}

.add-points-btn {
    align-self: flex-end;
}
