<form [formGroup]="pointsForm">
  <label for="memberInput">Member</label>
  <ng-select [items]="members"></ng-select>
   
  <label for="houseInput">House</label>
  <input disabled id="houseInput" type="text" formControlName="houseControl"/> 
    
  <label for="points">Points</label>
  <input required matInput id="points" type="number" min="0" class="form-control">
    
  <label>Paw</label>
  <ng-select [items]="paws"></ng-select>

  <label for="notes">Notes</label>
  <textarea id="notes" class="form-control"></textarea>
  
  <label>Staff</label>
  <span>Tiffany</span> <!-- <span>{{teacherLoggedIn}}</span> -->
  
  <button type="submit" mat-raised-button color="primary">Add Points</button>
</form>
