.student-info-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.wolf-house-symbol {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
    margin: 1em;
}

.student-info-header-name {
    font-size: 2rem;
}

.student-info-header-details {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0.25rem;
    margin-left: auto;
}

.student-info-header-details-flex-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin: 1rem;
}

.student-info-header-details span:nth-child(odd){
   margin-right: 0.25rem;
   font-size: 1.4rem;
}

.student-info-header-details span:nth-child(even){
    font-weight: lighter;
    margin-right: 0.25rem;
    font-size: 0.9rem;
 }


/* table styling */
.student-card {
    color: inherit !important;
    width: 100%;
}

.student-card thead tr {
    background-color: rgb(111 102 96);
}

.student-card thead tr th {
    border-bottom: none;
}

.student-card thead tr th:first-child {
    border-top-left-radius: 4px;
}

.student-card thead tr th:last-child {
    border-top-right-radius: 4px;
}

.student-card tbody tr td {
    border-bottom-color: rgb(240, 227, 215, 0.5);
}

.student-card tbody tr:last-child td {
    border-bottom: none;
}
